body{
	background-color: white;
	min-width:500px;
	font-family: 'Arvo', serif;
}

img{
	width:400px; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

iframe{
	border:none; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: -704px;
	width: 352px;
	height: 625px;
}

#notice{
	text-align: center;
	margin-left: auto; 
	margin-right: auto; 	
}

#zoom{
	opacity: 0.1;
	position: fixed;
	right: 0;
}

#zoom_up, #zoom_down{
	max-width: 45px;
}

::-webkit-scrollbar {
    width: 0px;
}